USE [master]
GO
/****** Object:  Database [noi_that]    Script Date: 10/21/2024 10:34:39 AM ******/
CREATE DATABASE [noi_that]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'noi_that', FILENAME = N'D:\TOOL\MSSQL16.SQLEXPRESS\MSSQL\DATA\noi_that.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'noi_that_log', FILENAME = N'D:\TOOL\MSSQL16.SQLEXPRESS\MSSQL\DATA\noi_that.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [noi_that].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [noi_that]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_carts] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[CategoryTypeId] [int] NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoryTypes]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoryTypes](
	[CategoryTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_categoryTypes] PRIMARY KEY CLUSTERED 
(
	[CategoryTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colors]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colors](
	[ColorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_colors] PRIMARY KEY CLUSTERED 
(
	[ColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[CommentText] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Rate] [int] NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PaymentStatus] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[District] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Ward] [nvarchar](max) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Payment] [nvarchar](max) NOT NULL,
	[ShippingStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ordersItem]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordersItem](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Size] [nvarchar](max) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ordersItem] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productColors]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productColors](
	[ProductColorId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
 CONSTRAINT [PK_productColors] PRIMARY KEY CLUSTERED 
(
	[ProductColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productImages]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productImages](
	[ProductImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_productImages] PRIMARY KEY CLUSTERED 
(
	[ProductImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Discounted] [decimal](18, 2) NULL,
	[DiscountedPrice] [decimal](18, 2) NULL,
	[CategoryId] [int] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Sell] [int] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productSizes]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productSizes](
	[ProductSizeId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[SizeId] [int] NOT NULL,
	[Discounted] [decimal](18, 2) NULL,
	[DiscountedPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_productSizes] PRIMARY KEY CLUSTERED 
(
	[ProductSizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion](
	[PromotionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DiscountRate] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_promotion] PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sizes]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sizes](
	[SizeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_sizes] PRIMARY KEY CLUSTERED 
(
	[SizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userPromotion]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userPromotion](
	[UserPromotionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PromotionId] [int] NOT NULL,
	[UsedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_userPromotion] PRIMARY KEY CLUSTERED 
(
	[UserPromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/21/2024 10:34:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240922171855_addUser', N'6.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240925140555_update', N'6.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240930044423_update2', N'6.0.0')
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([CartId], [UserId], [ProductId], [Quantity], [Color], [Size], [TotalAmount]) VALUES (31, 14, 5, 3, N'', NULL, CAST(2097900.00 AS Decimal(18, 2)))
INSERT [dbo].[carts] ([CartId], [UserId], [ProductId], [Quantity], [Color], [Size], [TotalAmount]) VALUES (32, 14, 7, 1, N'', NULL, CAST(12025000.00 AS Decimal(18, 2)))
INSERT [dbo].[carts] ([CartId], [UserId], [ProductId], [Quantity], [Color], [Size], [TotalAmount]) VALUES (33, 14, 17, 1, N'', NULL, CAST(30958000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([CategoryId], [Name], [Image], [CategoryTypeId]) VALUES (2, N'Bàn nước', N'', 1)
INSERT [dbo].[categories] ([CategoryId], [Name], [Image], [CategoryTypeId]) VALUES (3, N'Tủ tivi', N'', 1)
INSERT [dbo].[categories] ([CategoryId], [Name], [Image], [CategoryTypeId]) VALUES (4, N'Ghế dài', N'', 1)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[categoryTypes] ON 

INSERT [dbo].[categoryTypes] ([CategoryTypeId], [Name], [Image]) VALUES (1, N'Phòng khách', N'https://firebasestorage.googleapis.com/v0/b/noithat-b8966.appspot.com/o/danhmuc%2Fphongkhach.jpg?alt=media&token=a004ec79-ff0c-4ad3-8e5f-9b21eab9aa85')
INSERT [dbo].[categoryTypes] ([CategoryTypeId], [Name], [Image]) VALUES (2, N'Phòng ngủ', N'https://firebasestorage.googleapis.com/v0/b/noithat-b8966.appspot.com/o/danhmuc%2Fphongngu.jpg?alt=media&token=1613ecb9-6f07-4a8c-a57c-5e9fc2846c2c')
INSERT [dbo].[categoryTypes] ([CategoryTypeId], [Name], [Image]) VALUES (3, N'Phòng bếp', N'https://firebasestorage.googleapis.com/v0/b/noithat-b8966.appspot.com/o/danhmuc%2Fphongbep.jpg?alt=media&token=69c3526a-d9e7-41bc-99b6-71f7e47085fb')
SET IDENTITY_INSERT [dbo].[categoryTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[colors] ON 

INSERT [dbo].[colors] ([ColorId], [Name], [Code]) VALUES (7, N'Đỏ', N'#F56565')
INSERT [dbo].[colors] ([ColorId], [Name], [Code]) VALUES (8, N'Xanh dương', N'#3182CE')
INSERT [dbo].[colors] ([ColorId], [Name], [Code]) VALUES (9, N'Xanh lá', N'#48BB78')
SET IDENTITY_INSERT [dbo].[colors] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([CommentId], [UserId], [ProductId], [CommentText], [ImageUrl], [CreatedDate], [Rate]) VALUES (9, 14, 3, N'hello1', N'', CAST(N'2024-10-06T16:04:16.0296434' AS DateTime2), 5)
INSERT [dbo].[comments] ([CommentId], [UserId], [ProductId], [CommentText], [ImageUrl], [CreatedDate], [Rate]) VALUES (10, 14, 3, N'hello2', N'', CAST(N'2024-10-06T16:04:25.0448492' AS DateTime2), 5)
INSERT [dbo].[comments] ([CommentId], [UserId], [ProductId], [CommentText], [ImageUrl], [CreatedDate], [Rate]) VALUES (11, 14, 3, N'hello3', N'', CAST(N'2024-10-06T16:06:37.5979417' AS DateTime2), 5)
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([OrderId], [UserId], [PaymentStatus], [CreateDate], [Address], [City], [Description], [District], [Name], [Phone], [Ward], [TotalAmount], [Discount], [Payment], [ShippingStatus]) VALUES (10, 14, N'Đã thanh toán', CAST(N'2023-10-09T19:39:43.0000000' AS DateTime2), N'nghean', N'Tỉnh Bắc Giang', N'sdsdsds', N'Huyện Lạng Giang', N'datchienhoang', N'3994934', N'Xã Quang Thịnh', CAST(2966500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Thanh toán tiền mặt khi giao hàng (COD)', N'Đã giao')
INSERT [dbo].[orders] ([OrderId], [UserId], [PaymentStatus], [CreateDate], [Address], [City], [Description], [District], [Name], [Phone], [Ward], [TotalAmount], [Discount], [Payment], [ShippingStatus]) VALUES (11, 14, N'Đã thanh toán', CAST(N'2023-11-10T09:59:18.0000000' AS DateTime2), N'nghean', N'Tỉnh Bắc Kạn', N'dsdsds', N'Huyện Bạch Thông', N'datchienhoang', N'3994934', N'Xã Vũ Muộn', CAST(26314300.00 AS Decimal(18, 2)), CAST(4643700.00 AS Decimal(18, 2)), N'Thanh toán tiền mặt khi giao hàng (COD)', N'Đã giao')
INSERT [dbo].[orders] ([OrderId], [UserId], [PaymentStatus], [CreateDate], [Address], [City], [Description], [District], [Name], [Phone], [Ward], [TotalAmount], [Discount], [Payment], [ShippingStatus]) VALUES (12, 14, N'Đã thanh toán', CAST(N'2023-12-10T21:28:27.0000000' AS DateTime2), N'nghean', N'Tỉnh Cao Bằng', N'nhanh', N'Huyện Bảo Lạc', N'datchienhoang', N'3994934', N'Xã Cô Ba', CAST(17000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Thanh toán online qua cổng VNPay', N'Đã giao')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ordersItem] ON 

INSERT [dbo].[ordersItem] ([OrderItemId], [ProductId], [Color], [OrderId], [Quantity], [Size], [TotalAmount]) VALUES (10, 3, N'', 10, 1, NULL, CAST(2966500.00 AS Decimal(18, 2)))
INSERT [dbo].[ordersItem] ([OrderItemId], [ProductId], [Color], [OrderId], [Quantity], [Size], [TotalAmount]) VALUES (11, 17, N'', 11, 1, NULL, CAST(30958000.00 AS Decimal(18, 2)))
INSERT [dbo].[ordersItem] ([OrderItemId], [ProductId], [Color], [OrderId], [Quantity], [Size], [TotalAmount]) VALUES (12, 6, N'', 12, 1, N'1m2', CAST(17000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ordersItem] OFF
GO
SET IDENTITY_INSERT [dbo].[productColors] ON 

INSERT [dbo].[productColors] ([ProductColorId], [ProductId], [ColorId]) VALUES (1, 16, 10)
INSERT [dbo].[productColors] ([ProductColorId], [ProductId], [ColorId]) VALUES (2, 16, 12)
INSERT [dbo].[productColors] ([ProductColorId], [ProductId], [ColorId]) VALUES (3, 16, 7)
SET IDENTITY_INSERT [dbo].[productColors] OFF
GO
SET IDENTITY_INSERT [dbo].[productImages] ON 

INSERT [dbo].[productImages] ([ProductImageId], [ImageUrl], [ProductId]) VALUES (4, N'https://firebasestorage.googleapis.com/v0/b/noithat-b8966.appspot.com/o/product%2F18%2Fghe-lam-viec-van-phong-nga-lung-luoi-cam.jpg?alt=media&token=cb5c68fc-97cd-4a07-8bc8-d9484d1e7910', 18)
INSERT [dbo].[productImages] ([ProductImageId], [ImageUrl], [ProductId]) VALUES (5, N'https://firebasestorage.googleapis.com/v0/b/noithat-b8966.appspot.com/o/product%2F18%2Fghe-lam-viec-van-phong-nga-lung-luoi4.jpg?alt=media&token=908a2dc6-4cb7-460b-8a06-967bb64f301d', 18)
INSERT [dbo].[productImages] ([ProductImageId], [ImageUrl], [ProductId]) VALUES (6, N'https://firebasestorage.googleapis.com/v0/b/noithat-b8966.appspot.com/o/product%2F18%2Fghe-lam-viec-van-phong-nga-lung-luoi-xam.jpg?alt=media&token=082af9bc-6978-4f07-b8f3-33c24177ba3d', 18)
SET IDENTITY_INSERT [dbo].[productImages] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[productSizes] ON 

INSERT [dbo].[productSizes] ([ProductSizeId], [ProductId], [Price], [SizeId], [Discounted], [DiscountedPrice]) VALUES (1, 16, CAST(32000000.00 AS Decimal(18, 2)), 1, CAST(20.00 AS Decimal(18, 2)), CAST(25600000.00 AS Decimal(18, 2)))
INSERT [dbo].[productSizes] ([ProductSizeId], [ProductId], [Price], [SizeId], [Discounted], [DiscountedPrice]) VALUES (2, 16, CAST(27500000.00 AS Decimal(18, 2)), 2, NULL, NULL)
INSERT [dbo].[productSizes] ([ProductSizeId], [ProductId], [Price], [SizeId], [Discounted], [DiscountedPrice]) VALUES (3, 6, CAST(20000000.00 AS Decimal(18, 2)), 2, CAST(15.00 AS Decimal(18, 2)), CAST(17000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[productSizes] OFF
GO
SET IDENTITY_INSERT [dbo].[promotion] ON 

INSERT [dbo].[promotion] ([PromotionId], [Name], [DiscountRate], [StartDate], [EndDate], [Code], [Status]) VALUES (1, N'Giảm giá mùa hè', CAST(10.00 AS Decimal(18, 2)), CAST(N'2024-10-05T05:48:28.0400000' AS DateTime2), CAST(N'2024-11-05T05:48:28.0400000' AS DateTime2), N'CHAOHE10', 1)
INSERT [dbo].[promotion] ([PromotionId], [Name], [DiscountRate], [StartDate], [EndDate], [Code], [Status]) VALUES (2, N'Khuyễn mãi tết', CAST(15.00 AS Decimal(18, 2)), CAST(N'2024-10-06T08:49:44.5120000' AS DateTime2), CAST(N'2024-11-05T08:49:44.5120000' AS DateTime2), N'KMTET15', 1)
INSERT [dbo].[promotion] ([PromotionId], [Name], [DiscountRate], [StartDate], [EndDate], [Code], [Status]) VALUES (3, N'Khuyễn mãi 2/9', CAST(15.00 AS Decimal(18, 2)), CAST(N'2024-10-07T08:49:44.5120000' AS DateTime2), NULL, N'KM2/9', 1)
SET IDENTITY_INSERT [dbo].[promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[sizes] ON 

INSERT [dbo].[sizes] ([SizeId], [Name]) VALUES (1, N'90cm')
INSERT [dbo].[sizes] ([SizeId], [Name]) VALUES (2, N'1m2')
INSERT [dbo].[sizes] ([SizeId], [Name]) VALUES (3, N'1m4')
SET IDENTITY_INSERT [dbo].[sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[userPromotion] ON 

INSERT [dbo].[userPromotion] ([UserPromotionId], [UserId], [PromotionId], [UsedDate]) VALUES (1, 15, 4, CAST(N'2024-10-12T20:37:51.6784063' AS DateTime2))
INSERT [dbo].[userPromotion] ([UserPromotionId], [UserId], [PromotionId], [UsedDate]) VALUES (2, 15, 2, CAST(N'2024-10-12T20:44:27.3903865' AS DateTime2))
INSERT [dbo].[userPromotion] ([UserPromotionId], [UserId], [PromotionId], [UsedDate]) VALUES (3, 15, 3, CAST(N'2024-10-12T22:08:10.3817426' AS DateTime2))
SET IDENTITY_INSERT [dbo].[userPromotion] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([Id], [Email], [Password], [Phone], [Address], [Role], [ImageUrl], [Username]) VALUES (14, N'hungmlml2k6@gmail.com', N'$2a$11$om0IXvN.8Z0AYWBgkmnIeOMjNcEGJcjey.EvBfKLU3kqzR5607jFy', N'0966544325', N'nghe an', N'User', N'https://firebasestorage.googleapis.com/v0/b/noithat-b8966.appspot.com/o/account%2Fnen.jpg?alt=media&token=f9905603-8afb-4381-8e90-975cc3886522', N'DatNguyen')
INSERT [dbo].[users] ([Id], [Email], [Password], [Phone], [Address], [Role], [ImageUrl], [Username]) VALUES (15, N'dat958734@gmail.com', N'$2a$10$JHxh3TL8iSW1L7HW66huTe.VMXYiFWSIA7eukGF4Be3zJ3Zuf9eS.', NULL, NULL, N'Admin', N'https://firebasestorage.googleapis.com/v0/b/noithat-b8966.appspot.com/o/account%2Fbg.jpg?alt=media&token=f561b919-422f-4f0c-9954-405a5440d497', N'Dat nguyen')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [IX_carts_ProductId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_carts_ProductId] ON [dbo].[carts]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_categories_CategoryTypeId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_categories_CategoryTypeId] ON [dbo].[categories]
(
	[CategoryTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_comments_ProductId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_comments_ProductId] ON [dbo].[comments]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_comments_UserId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_comments_UserId] ON [dbo].[comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ordersItem_OrderId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_ordersItem_OrderId] ON [dbo].[ordersItem]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ordersItem_ProductId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_ordersItem_ProductId] ON [dbo].[ordersItem]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_productColors_ColorId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_productColors_ColorId] ON [dbo].[productColors]
(
	[ColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_productColors_ProductId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_productColors_ProductId] ON [dbo].[productColors]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_productImages_ProductId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_productImages_ProductId] ON [dbo].[productImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_CategoryId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_products_CategoryId] ON [dbo].[products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_productSizes_ProductId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_productSizes_ProductId] ON [dbo].[productSizes]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_productSizes_SizeId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_productSizes_SizeId] ON [dbo].[productSizes]
(
	[SizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_userPromotion_PromotionId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_userPromotion_PromotionId] ON [dbo].[userPromotion]
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_userPromotion_UserId]    Script Date: 10/21/2024 10:34:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_userPromotion_UserId] ON [dbo].[userPromotion]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'Chưa thanh toán') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'') FOR [Address]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'') FOR [City]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'') FOR [District]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'') FOR [Phone]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'') FOR [Ward]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0.0)) FOR [Discount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'') FOR [Payment]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'Chưa chuyển') FOR [ShippingStatus]
GO
ALTER TABLE [dbo].[productColors] ADD  DEFAULT ((0)) FOR [ColorId]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (N'') FOR [Image]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [Sell]
GO
ALTER TABLE [dbo].[productSizes] ADD  DEFAULT ((0)) FOR [SizeId]
GO
ALTER TABLE [dbo].[promotion] ADD  DEFAULT (N'') FOR [Code]
GO
ALTER TABLE [dbo].[promotion] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (N'User') FOR [Role]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_products_ProductId]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK_categories_categoryTypes_CategoryTypeId] FOREIGN KEY([CategoryTypeId])
REFERENCES [dbo].[categoryTypes] ([CategoryTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK_categories_categoryTypes_CategoryTypeId]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_products_ProductId]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_users_UserId]
GO
ALTER TABLE [dbo].[ordersItem]  WITH CHECK ADD  CONSTRAINT [FK_ordersItem_orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ordersItem] CHECK CONSTRAINT [FK_ordersItem_orders_OrderId]
GO
ALTER TABLE [dbo].[ordersItem]  WITH CHECK ADD  CONSTRAINT [FK_ordersItem_products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ordersItem] CHECK CONSTRAINT [FK_ordersItem_products_ProductId]
GO
ALTER TABLE [dbo].[productColors]  WITH CHECK ADD  CONSTRAINT [FK_productColors_colors_ColorId] FOREIGN KEY([ColorId])
REFERENCES [dbo].[colors] ([ColorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[productColors] CHECK CONSTRAINT [FK_productColors_colors_ColorId]
GO
ALTER TABLE [dbo].[productColors]  WITH CHECK ADD  CONSTRAINT [FK_productColors_products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[productColors] CHECK CONSTRAINT [FK_productColors_products_ProductId]
GO
ALTER TABLE [dbo].[productImages]  WITH CHECK ADD  CONSTRAINT [FK_productImages_products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[productImages] CHECK CONSTRAINT [FK_productImages_products_ProductId]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories_CategoryId]
GO
ALTER TABLE [dbo].[productSizes]  WITH CHECK ADD  CONSTRAINT [FK_productSizes_products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[productSizes] CHECK CONSTRAINT [FK_productSizes_products_ProductId]
GO
ALTER TABLE [dbo].[productSizes]  WITH CHECK ADD  CONSTRAINT [FK_productSizes_sizes_SizeId] FOREIGN KEY([SizeId])
REFERENCES [dbo].[sizes] ([SizeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[productSizes] CHECK CONSTRAINT [FK_productSizes_sizes_SizeId]
GO
ALTER TABLE [dbo].[userPromotion]  WITH CHECK ADD  CONSTRAINT [FK_userPromotion_promotion_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[promotion] ([PromotionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userPromotion] CHECK CONSTRAINT [FK_userPromotion_promotion_PromotionId]
GO
ALTER TABLE [dbo].[userPromotion]  WITH CHECK ADD  CONSTRAINT [FK_userPromotion_users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userPromotion] CHECK CONSTRAINT [FK_userPromotion_users_UserId]
GO
USE [master]
GO
